@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
  margin: 40;
  padding: 0;
  box-sizing:content-box;
}
.head{
    color:rgb(224, 214, 214);
    position:absolute;
    top:50%;
    }
.heading{
  position:absolute;
  top:60%;
  color:grey;
}
.para1{
    color:rgba(255, 255, 255, 0.925);
    position:absolute;
    top:70%;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    }
body {
  width: 100%;
  background-color: #0c111b;
  font-family: sans-serif;
}
.fa-fa bars{
    font-size: 14px;
    color: #726e6e;
    text-decoration: none;
    margin-left: 0px;
    text-transform: capitalize;
}

.navebar {
width: 100%;
height: 40px;
display: flex;
position: fixed;
top: 0;
z-index: 999;  
padding: 0 2%;
background-color: #0c111b;
align-items: center;
}

.logo img {
height: 40px;
}

.navebar-title a {
text-decoration: none;
margin-left: 0px;
color: rgb(201, 199, 199);
text-transform: capitalize;
font-weight: bold;
font-size: 14px;
}

.dropdown {
display: inline-block;
}

.dropbtn {
background-color:#070707b0;
color: white;
padding: 10px;
font-size: 14px;
border: none;
cursor: pointer;
}

.dropdown-content {
display: none;
position: absolute;
background-color: black;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: rgb(101, 187, 236);
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: black;
}

.right_cont {
display: block;
margin-left:30%;
}

.search-box {
border: none;
border-bottom: 1px solid white;
background-color: transparent;
outline: none;
height: 30px;
color: white;
width: 50%;
text-transform: capitalize;
font-size: 16px;
font-weight: 500;
}
.i{
    size: 24px;
}

.sub-btn {
background: #1f80e0;
height: 30px;
padding: 0 20px;
color: #fff;
border-radius: 5px;
border: none;
outline: none;
text-transform: uppercase;
font-weight: 600;
font-size: 10px;
margin: 0 10px;
}

.login-link {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: 600;
}

brand-logo* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: px;
position: relative;
margin-left: 15px;
margin-right: 15px;
margin-bottom: 20px;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}




@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.latest{
    color:#f1f1f1;
    font-family:"Roboto","HelveticaNeue-Light",sans-serif; 
    margin-top: -45px;
    font-size: 15px;
    font-weight: 500;
    max-width: fit-content;  
}
.grid1{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  overflow: hidden;
}
.grid1 > div > img {
    height: 200px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-out;
    }
.recommended{
    color: aliceblue;
    font-family:"Roboto","HelveticaNeue-Light",sans-serif; 
    margin-top: -45px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 44px;
    max-width: fit-content;
}
.grid2{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  overflow: hidden;
}
.grid2 > div > img {
    height: 200px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-in-out;
}
.english, .tamil, .hindi{
    color: aliceblue;
    font-family:"Roboto","HelveticaNeue-Light",sans-serif; 
    margin-top: -45px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 44px;
    max-width: fit-content;


}
.grid3, .grid4, .grid5, .grid6{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
    overflow: hidden;
}
.grid3 > div > img {
    height: 120px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-in-out;
    
}
.grid4 > div > img{
    height: 120px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-in-out;

}
.grid5 > div > img{
    height: 120px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-in-out;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;

}
h3:hover{
    color: rgb(37, 1, 199);
    cursor: pointer;
}
.grid6 > div > img{
    height: 130px;
    min-width: 150px;
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .1s ease-in-out;

}
.favorite > h3:hover{
    color: crimson;
    cursor: pointer;
}
.favorite{
    color: aliceblue;
    font-family:"Roboto","HelveticaNeue-Light",sans-serif; 
    margin-top: -45px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 44px;
    display: flex;
    max-width: fit-content;
    

}
.favorite img{
    height: 25px;
    width: 25px;
    margin: 15px 0 0 10px;
    background-color: crimson;

}
.foot{
display: flex;
margin-left: 20px;
margin-top: 30px;
gap: 20px;
color: rgb(217, 224, 228);
font-size: 13px;
font-weight: 400;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foot p:hover{
    cursor: pointer;
    color: rgb(19, 4, 224);
}
.contact{
    margin-left: 200px;
}
.media > img{
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 20px;
}

